## STAGE B QUIZ DOYINMOLA AJIBOYE ID: 11af49410d81f000

In [8]:
#importing the needed libraries
import pandas as pd
import numpy as np

In [9]:
#loading the data
data=('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
dt = pd.read_csv(data)

#preview the data
dt

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [10]:
#as instructed dropping columns light and date 

dt.drop(columns=(['date', 'lights']), axis=1, inplace=True)

dt

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

### QUESTION 12

In [11]:
x = dt['T2']
y = dt['T6']

In [12]:
#reshaping the x data
array = np.array([x])
x_shaped = array.reshape(-1, 1)

In [13]:
#importing train_test_split from scikit.learn
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_shaped, y, test_size=0.3)

In [14]:
#importing LinearRegression() from scikit.learn
from sklearn.linear_model import LinearRegression

#assigning it to a variable
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

In [15]:
#R-Squared for linear model
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.65

### QUESTION 13

In [16]:
#There is need to normalise our dataset to a common scale using the min max scaler first
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scale_fit = scaler.fit_transform(dt)
normalised_data = pd.DataFrame(scale_fit, columns=dt.columns)
features_df = normalised_data.drop('Appliances', axis=1)
appliance_target = normalised_data['Appliances']

In [17]:
#Then splitting the dataset into the training and testing dataset. Recalling that the features and target variables had earlier been segmented the 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, appliance_target, test_size=0.3, random_state=42)

In [21]:
#import LinearRegression() from scikit.learn
from sklearn.linear_model import LinearRegression

#assigning LinearRegression() to a variable
lin_model = LinearRegression()

#fit the model to the training dataset
lin_model.fit(x_train, y_train)

#obtain predictions
y_hat = lin_model.predict(x_test)

In [22]:
#importing MAE for the linearregressor
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_hat)
round(mae, 2)

0.05

### QUESTION 14

In [23]:
#Calculating Residual Sum of Squares for linear regression
rss = np.sum(np.square(y_test - y_hat))
round(rss, 2)

45.35

### QUESTION 15

In [24]:
#Calculating Root mean square error
#importing mean_squared_error from scikit learn
from sklearn.metrics import  mean_squared_error
rms_error = np.sqrt(mean_squared_error(y_test, y_hat))
round(rms_error, 3)

0.088

### QUESTION 16

In [27]:
#Calculating R-Squared/Coefficient of determination
#importing r2_score from scikit learn
from sklearn.metrics import r2_score
rsquare_score = r2_score(y_test, y_hat)
round(rsquare_score, 2)

0.15

### QUESTION 17

In [41]:
#feature weights
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(lin_model, x_train, 'Linear_Model_Weight')
linear_model_weights.sort_values(by='Linear_Model_Weight')

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

### QUESTION 18

In [46]:
#Ridge Regression

#importing ridge from scikit learn
from sklearn.linear_model import Ridge
ridge_regr = Ridge(alpha=0.4)
ridge_regr.fit(x_train, y_train)
ridge_predicted_y = ridge_reg.predict(x_test)

In [47]:
#Root mean square error for ridge
rms_error = np.sqrt(mean_squared_error(y_test, ridge_predicted_y))
round(rms_error, 3)

0.088

### QUESTION 19

In [48]:
#Feature selection and Lasso Regression

#importing lasso from scikit learn
from sklearn.linear_model import Lasso
lasso_regr = Lasso(alpha=0.001)
lasso_regr.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [50]:
lasso_weights_df = get_weights_df(lasso_regr, x_train, 'Lasso_weight')
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [51]:
#number of non zero features
#outputs the number of non_zero features
count = [value != 0 for value in lasso_weights_df.Lasso_weight]
count.count(True)

4

### QUESTION 20

In [53]:
#lasso predicted values
lasso_predicted_y = lasso_regr.predict(x_test)
#Root mean square error for lasso
from sklearn.metrics import  mean_squared_error
rms_error = np.sqrt(mean_squared_error(y_test, lasso_predicted_y))
round(rms_error, 3)

0.094